<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>URL Shortner</title>
</head>
<body>
    <div class="container p-5">
        <h1 class="text-center">Secure URL Shortner</h1>
       <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/" id="reg-form" class="p-5">
                <div class="">
                    <label for="link" class="fs-4 form-label">Secret link</label>
                <br>
                <input type="text" id="link" class="form-control" size="1"/>
                </div>
               <div class="row">
                <div class="col-md-6">
                    <div class=" py-3">
                        <label for="link" class="fs-4 form-label">Password</label>
                    <br>
                    <input type="password" id="password" class="form-control" size="1"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" py-3">
                        <label for="link" id="conpass" class="fs-4 form-label">Password</label>
                    <br>
                    <input type="password" class="form-control" size="1"/>
                    </div>
                </div>
               </div>
               <div class="col-md-6 py-2">
                <input type="submit" value="Encrypt">
               </div>
            </form>
        </div>
        <div class="col-md-3"></div>
       </div>
    </div>
     <script>
        const form = document.getElementById('reg-form')
        form.addEventListener('submit',regLink)

        async function regLink(event){
            event.preventDefault();
            const link = document.getElementById('link').value;
            const password = document.getElementById('password').value;
            const compass = document.getElementById('conpass').value;

        console.log(link)
        console.log(password)
        // if(password===conpass){
        //     console.log(password)
        //     console.log(conpass)
        //     alert('Password isequal')
        // }
        // else{
        //     alert('Not equal')
        // }
        const result = await fetch('/', {
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                link,
                password,
                compass,
            })

        }).then((res)=> res.json())
        if(result.status ==='ok'){

alert(" Successful!");

window.redirect('/');
}else{
alert(result.error);
}
        }

     </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
 
</body>
</html>
